@model IEnumerable<ChaosCC.Dto.DuyuruListDto>

@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function Sil(id) {
        if (confirm('Silmek istediğinize emin misiniz?')) {
            window.location = "/Duyurular/Delete/" + id;
        }
    }
</script>

<h2>@ViewBag.Title</h2>
<hr />
<p>
    <a class="btn btn-primary" href=@("/Duyurular/Edit/")><i class="glyphicon glyphicon-plus"></i> Yeni</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuyuruTipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th class="text-center">İşlem</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Tarih.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.DuyuruTipi.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td class="text-center">
                <a class="btn btn-sm btn-outline-primary" href=@("/Duyurular/Edit/"+item.Id)><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm btn-outline-danger" href=@($"javascript:Sil({item.Id});" )><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
