@using ChaosCC.UIYonetim.Helpers
@model IEnumerable<ChaosCC.Dto.DuyuruListDto>

@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function Sil(id) {
        if (confirm('Silmek istediğinize emin misiniz?')) {
            window.location = "/Duyurular/Delete/" + id;
        }
    }
</script>

<h2>@ViewBag.Title</h2>
<hr />
@if (UserHelper.Kullanici.RolAdi.ToLower().Equals("admin"))
{
    <p>
        <a class="btn btn-primary" href=@("/Duyurular/Edit/")><i class="glyphicon glyphicon-plus"></i> Yeni</a>
    </p>
}
@foreach (var item in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">@item.Baslik</h2>
        <p class="blog-post-meta">@item.Tarih.ToString("dd.MMM.yyyy") <a href="#">@item.DuyuruTipi.ToString()</a></p>
        <p>
            @Html.Raw(item.Yazi)
        </p>

        @if (UserHelper.Kullanici.RolAdi.ToLower().Equals("admin"))
        {
            <a class="btn btn-sm btn-outline-primary" href=@("/Duyurular/Edit/"+item.Id)><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm btn-outline-danger" href=@($"javascript:Sil({item.Id});" )><i class="fas fa-trash"></i></a>
        }
        <hr />
    </div>
}