@model IEnumerable<ChaosCC.Dto.DuyuruListDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Duyurular</h2>

<p>    
    <a class="btn btn-primary" href=@("/Duyurular/Edit/")><i class="glyphicon glyphicon-plus"></i> Yeni</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuyuruTipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Tarih.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.DuyuruTipi.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                <a class="btn btn-primary" href=@("/Duyurular/Edit/"+item.Id)><i class="glyphicon glyphicon-pencil"></i></a>
                <a class="btn btn-primary" href=@("/Duyurular/Delete/" + item.Id)><i class="glyphicon glyphicon-trash"></i></a>                
            </td>
        </tr>
    }

</table>
