@model IEnumerable<ChaosCC.Entity.Etkinlik>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtlinlikTuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EkleyenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklemeZamani)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncelleyenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeZamani)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Yer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtlinlikTuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EkleyenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EklemeZamani)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuncelleyenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuncellemeZamani)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aktif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
