@model ChaosCC.Dto.DevamsizlikGridDto
@{
    ViewBag.Title = "Devamsizlik";
}

<h2>Devamsizlik</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-default" />
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.TextBoxFor(model => model.EtkinlikAdi)
    <table class="table">
        <tr>
            <th>
                Kullanıcı Adı
            </th>
            <th>
                Geldi
            </th>
            <th>
                Açıklama
            </th>
        </tr>

        @foreach (var item in Model.Grid)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.HiddenFor(modelItem => item.KullaniciId)
                    @item.KullaniciAdi
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Geldi)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.Aciklama)                    
                </td>
            </tr>
        }

    </table>
}