@using ChaosCC.CommonLibrary

@model IEnumerable<ChaosCC.Dto.KullaniciDevamsizlikDto>
@{
    ViewBag.Title = ViewBag.Kullanici + " Devamsızlık";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr />
<table class="table table-striped">
    <tr>
        <th class="text-right">
            Sıra
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtkinlikTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtkinlikTuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtkinlikAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtkinlikAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geldi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevamsizlikAciklama)
        </th>
    </tr>
    @{
        int i = 0;
        int geldiCount = 0;
        foreach (var item in Model)
        {
            i += 1;
            geldiCount = geldiCount + (item.Geldi ? 1 : 0);
            <tr @(item.Geldi ? "" : "class=table-warning")>
                <td class="text-right">
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EtkinlikTarihi)
                </td>
                <td>
                    @item.EtkinlikTuru.ToDisplay()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EtkinlikAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EtkinlikAciklama)
                </td>
                <td>
                    @(item.Geldi ? "Geldi" : "Yok")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DevamsizlikAciklama)
                </td>
            </tr>
        }
        <tr>
            <th>Toplam</th>
            <th>@geldiCount / @i</th>
            <th></th>
            <th></th>
            <th>Oran</th>
            <th>% @Math.Round(i != 0 ? (geldiCount / (decimal)i * 100) : 0)</th>
            <th></th>
        </tr>
    }

</table>
