@using ChaosCC.UIYonetim.Helpers
@model IEnumerable<ChaosCC.Dto.KullaniciListDto>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>@ViewBag.Title</h2>
<hr />
<p>
    <a class="btn btn-primary" href=@("/Kullanicilar/Edit/")><i class="glyphicon glyphicon-calendar"></i> Yeni</a>
</p>
<table class="table table-striped">
    <tr>
        <th class="text-right">
            Sıra
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyadi)
        </th>
        <th>
            Devamsızlıklar
        </th>
        <th class="text-center">İşlem</th>
    </tr>
    @{
        int i = 0;
        foreach (var item in Model)
        {
            i += 1;
    <tr>
        <td class="text-right">
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyadi)
        </td>
        <td>
            <a class="btn btn-sm btn-outline-primary" href=@("/Kullanicilar/Devamsizlik/"+item.Id)><i class="fas fa-pencil-alt"></i></a>
        </td>
        <td class="text-center">
            <a class="btn btn-sm btn-outline-primary" href=@("/Kullanicilar/Edit/"+item.Id)><i class="fas fa-pencil-alt"></i></a>
            @if (UserHelper.Kullanici.RolAdi.ToLower().Equals("admin"))
            {
                <a class="btn btn-sm btn-outline-danger" href=@($"javascript:Sil({item.Id});" )><i class="fas fa-trash"></i></a>
            }
            </td>
    </tr>
        }
    }

</table>
