@model ChaosCC.Dto.KullaniciLoginDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="text-center">
    <!--Pulling Awesome Font -->
    @*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@

    @*<div class="container-fluid">
            <div class="row">
                <div class="center-block col-lg-2 col-md-3 col-sm-6" style="float: none;">
                    <div class="form-login">
                        <h4>Chaos'a Hoş Geldiniz</h4>

                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary();
                            <input type="text" id="KullaniciAdi" name="KullaniciAdi" class="form-control input-sm chat-input" placeholder="Kullanıcı Adı" /><br />
                                <input type="password" id="Sifre" name="Sifre" class="form-control input-sm chat-input" placeholder="Şifre" /><br />
                                <div class="wrapper">
                                    <span class="group-btn">
                                        <button type="submit" class="btn btn-primary btn-md">Giriş<i class="fa fa-sign-in"></i></button>
                                    </span>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>*@

    @*<form class="form-signin">*@
    @using (Html.BeginForm("Login", "Kullanicilar", FormMethod.Post, new { @class = "form-signin" }))
    {
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Chaos Turkey MC</h1>
        @Html.ValidationSummary();
        <label for="KullaniciAdi" class="sr-only">Kullanıcı Adı</label>
        <input type="text" id="KullaniciAdi" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" required="" autofocus="">
        <label for="Sifre" class="sr-only">Password</label>
        <input type="password" id="Sifre" name="Sifre" class="form-control" placeholder="Şifre" required="">
        @*<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>*@
        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş</button>
        <p class="mt-5 mb-3 text-muted">© 2015</p>
    }
    @*</form>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css" />




</body>
</html>
